* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  height: 91px;
  padding: 30px 25px;
  background: #21222A;
}

nav > h3, nav >h4 {
  margin: 0;
}

nav > h3 {
  margin-right: auto;
}